[submodule "themes/sirthias"]
	path = themes/sirthias
	url = git@github.com:4lex1v/sirthias-theme.git
	branch = master
[submodule "modules/evil"]
	path = modules/evil
	url = git@github.com:emacs-evil/evil.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:4lex1v/emacs-snippets.git
[submodule "scripted"]
	path = scripted
	url = git@github.com:4lex1v/scripted.el.git
