[submodule "themes/sirthias"]
	path = platform/appearance/themes/sirthias
	url = https://github.com/4lex1v/sirthias-theme.git
	branch = master
[submodule "themes/solarized-emacs"]
	path = platform/appearance/themes/solarized-emacs
	url = https://github.com/bbatsov/solarized-emacs.git
	branch = master

[submodule "core/projectile"]
	path = platform/behaviour/projectile
	url = git@github.com:bbatsov/projectile.git
	branch = master
[submodule "core/magit"]
	path = modules/vcs/magit
	url = git@github.com:magit/magit.git
	branch = master
[submodule "core/company"]
	path = platform/editor/company
	url = git@github.com:company-mode/company-mode.git
	branch = master
[submodule "core/yasnippet"]
	path = platform/editor/yasnippet
	url = git@github.com:capitaomorte/yasnippet.git
	branch = master
[submodule "core/smartparens"]
	path = platform/editor/smartparens
	url = git@github.com:Fuco1/smartparens.git
	branch = master
[submodule "packages/scala/scala-mode"]
	path = modules/scala/scala-mode
url=git@github.com:ensime/emacs-scala-mode.git
	branch = master
[submodule "packages/scala/sbt-mode"]
	path = modules/scala/sbt-mode
	url = git@github.com:hvesalai/sbt-mode.git
	branch = master
[submodule "packages/scala/ensime"]
	path = modules/scala/ensime
	url = git@github.com:ensime/ensime-emacs.git
	branch = master
[submodule "packages/elisp/macrostep"]
	path = modules/elisp/macrostep
	url = git@github.com:joddie/macrostep.git
[submodule "packages/clojure/packages/clojure/clojure-mode"]
	path = modules/clojure/clojure-mode
	url = git@github.com:clojure-emacs/clojure-mode.git
[submodule "packages/clojure/cider"]
	path = modules/clojure/cider
	url = git@github.com:clojure-emacs/cider.git
[submodule "core/helm/helm-core"]
	path = platform/behaviour/helm-core
	url = git@github.com:emacs-helm/helm.git
[submodule "core/helm/helm-ag"]
	path = platform/behaviour/helm-ag
	url = git@github.com:syohex/emacs-helm-ag.git
[submodule "core/helm/helm-swoop"]
	path = platform/behaviour/helm-swoop
	url = git@github.com:ShingoFukuyama/helm-swoop.git
[submodule "core/helm/helm-descbinds"]
	path = platform/behaviour/helm-descbinds
	url = git@github.com:emacs-helm/helm-descbinds.git
[submodule "core/docker"]
	path = modules/infra/docker
	url = git@github.com:Silex/docker.el.git
[submodule "themes/spacemacs"]
	path = platform/appearance/themes/spacemacs
	url = git@github.com:nashamri/spacemacs-theme.git
[submodule "core/which-key"]
	path = platform/editor/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "packages/web"]
	path = modules/web/web-mode
	url = git@github.com:fxbois/web-mode.git
[submodule "packages/yaml"]
	path = modules/formats/yaml
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "packages/idris"]
	path = modules/idris/idris-mode
	url = git@github.com:idris-hackers/idris-mode.git
[submodule "core/undo-tree"]
	path = platform/editor/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "core/ranger"]
	path = platform/behaviour/ranger
	url = git@github.com:ralesi/ranger.el.git
[submodule "core/helm/helm-projectile"]
	path = platform/behaviour/helm-projectile
	url = git@github.com:bbatsov/helm-projectile.git
[submodule "themes/dracula"]
	path = platform/appearance/themes/dracula
	url = git@github.com:dracula/emacs.git
[submodule "packages/haskell/haskell-mode"]
	path = modules/haskell/haskell-mode
	url = git@github.com:haskell/haskell-mode.git
[submodule "themes/zenburn-emacs"]
	path = platform/appearance/themes/zenburn-emacs
	url = git@github.com:bbatsov/zenburn-emacs.git
[submodule "packages/emacs-jabber"]
	path = modules/communications/jabber
	url = git@github.com:legoscia/emacs-jabber.git
[submodule "packages/org/org-mode"]
	path = modules/org/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "packages/markdown-mode"]
	path = modules/formats/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "packages/purescript"]
	path = modules/purescript/purescript-mode
	url = git@github.com:epost/psc-ide-emacs.git
[submodule "packages/idris-mode"]
	path = packages/idris-mode
	url = git@github.com:idris-hackers/idris-mode.git
[submodule "core/expand-region"]
	path = core/expand-region
	url = git@github.com:magnars/expand-region.el.git
[submodule "core/diff-hl"]
	path = modules/vcs/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "packages/emacs-request"]
	path = modules/elisp/request
	url = git@github.com:tkf/emacs-request.git
[submodule "packages/emacs-deferred"]
	path = modules/elisp/deferred
	url = git@github.com:kiwanami/emacs-deferred.git
[submodule "packages/python/anaconda-mode"]
	path = modules/python/anaconda-mode
	url = git@github.com:proofit404/anaconda-mode.git
[submodule "packages/python/elpy"]
	path = modules/python/elpy
	url = git@github.com:jorgenschaefer/elpy.git
[submodule "packages/python/emacs-jedi"]
	path = modules/python/emacs-jedi
	url = https://github.com/tkf/emacs-jedi
[submodule "packages/python/emacs-ipython-notebook"]
	path = modules/python/emacs-ipython-notebook
	url = git@github.com:millejoh/emacs-ipython-notebook.git
[submodule "packages/vcs/magithub"]
	path = modules/vcs/magithub
	url = https://github.com/vermiculus/magithub
[submodule "modules/essentials/use-package"]
	path = platform/essentials/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "platform/system/exec-path-from-shell"]
	path = platform/system/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell.git
[submodule "platform/editor/ace-window"]
	path = platform/editor/ace-window
	url = git@github.com:abo-abo/ace-window.git
[submodule "platform/editor/avy"]
	path = platform/editor/avy
	url = git@github.com:abo-abo/avy.git
[submodule "platform/editor/expand-region"]
	path = platform/editor/expand-region
	url = git@github.com:magnars/expand-region.el.git
[submodule "foundation"]
	path = foundation
	url = git@github.com:4lex1v/foundation.git
[submodule "modules/communications/slack"]
	path = modules/communications/slack
	url = git@github.com:yuya373/emacs-slack.git
[submodule "modules/formats/pandoc-mode"]
	path = modules/formats/pandoc-mode
	url = git@github.com:joostkremers/pandoc-mode.git
[submodule "modules/web/restclient"]
	path = modules/web/restclient
	url = git@github.com:pashky/restclient.el.git
[submodule "modules/statistics/ess"]
	path = modules/statistics/ess
	url = git@github.com:emacs-ess/ESS.git
[submodule "platform/evil/evil-core"]
	path = platform/vim/evil-core
	url = git@github.com:emacs-evil/evil.git
[submodule "platform/evil/evil-leader"]
	path = platform/vim/evil-leader
	url = git@github.com:cofi/evil-leader.git
[submodule "modules/reader/pdf-tools"]
	path = modules/reader/pdf-tools
	url = git@github.com:politza/pdf-tools.git
[submodule "platform/behaviour/helm-dash"]
	path = platform/behaviour/helm-dash
	url = https://github.com/areina/helm-dash
[submodule "modules/groovy/groovy-emacs-modes"]
	path = modules/groovy/groovy-emacs-modes
	url = git@github.com:Groovy-Emacs-Modes/groovy-emacs-modes.git
[submodule "platform/vim/evil-snipe"]
	path = platform/vim/evil-snipe
	url = git@github.com:hlissner/evil-snipe.git
[submodule "platform/vim/evil-args"]
	path = platform/vim/evil-args
	url = git@github.com:wcsmith/evil-args.git
[submodule "platform/appearance/themes/monokai-emacs"]
	path = platform/appearance/themes/monokai-emacs
	url = git@github.com:oneKelvinSmith/monokai-emacs.git
[submodule "platform/vim/evil-mc"]
	path = platform/vim/evil-mc
	url = git@github.com:gabesoft/evil-mc.git
[submodule "modules/org/org-ref"]
	path = modules/org/org-ref
	url = git@github.com:jkitchin/org-ref.git
[submodule "modules/org/org-screenshot"]
	path = modules/org/org-screenshot
	url = git@github.com:dfeich/org-screenshot.git
[submodule "platform/vim/evil-surround"]
	path = platform/vim/evil-surround
	url = git@github.com:timcharper/evil-surround.git
[submodule "modules/vcs/evil-magit"]
	path = modules/vcs/evil-magit
	url = git@github.com:emacs-evil/evil-magit.git
[submodule "platform/appearance/spaceline"]
	path = platform/appearance/spaceline
	url = git@github.com:TheBB/spaceline.git
[submodule "platform/appearance/powerline"]
	path = platform/appearance/powerline
	url = git@github.com:milkypostman/powerline.git
[submodule "platform/appearance/themes/emacs-doom-theme"]
	path = platform/appearance/themes/emacs-doom-theme
	url = git@github.com:hlissner/emacs-doom-theme.git
