.origin-mode
.spacemacs-mode
ensime
elpa
projectile-bookmarks.eld
projectile.cache
recentf
tramp
.emacs.desktop
url
init.elc
bookmarks
.cached-packages
.cask
.module-configs
eshell
.cache
irony
network-security.data
